<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Sidebar Toggle Sidebar Button -->
  <button class="btn" (click)="changeState()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand px-3" href="#"><img src="assets/logo_numeric.png"></a>
</nav>

<div class="row h-100">
  <!-- Sidebar Container -->
  <div [@flyInOut]="currentState" id="sidebarContainer" class="bg-primary h-100">
    <ul class="navbar-nav mr-auto text-center pt-4">
      <li class="nav-item">
        <a class="nav-link p-3 text-white" routerLink="/page-one">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link p-3 text-white" routerLink="/page-two">Contact</a>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a ngbDropdownItem class="dropdown-item" href="#">Action</a>
          <a ngbDropdownItem class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
  <!-- Page content -->
  <div class="page-content" style="width: auto;">
    <router-outlet></router-outlet>
  </div>
</div>