/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
$primary : #bf0d0d;
@import '~bootstrap/scss/bootstrap';

html, body {
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }